.bg-cart{
    margin-top: 100px;
    width:1200px;
    height: 180px;
    margin: 0 auto;
    img{
        width:1160px;
        margin-top:60px;
    }
}
.cart-con{
    width: $width;
 

    margin: 0 auto;
}
thead{
    width: 1170px;
    tr{
        width: 1170px;
        th{
            text-align: center;
            background: #f7f9f9;
            height: 36px;
            line-height: 36px;
            text-align: center;
            border: 1px solid #e1e4e6;
            color: #727171;
            padding: 8px 17px;
            vertical-align: middle;
        }
    }
}
tbody{
   width: 1170px;
   tr{
     //  display: none;
        width: 1170px;
        td{
            text-align: center;

            height: 36px;
            line-height: 36px;
            text-align: center;
            border: 1px solid #e1e4e6;
            color: #727171;
            padding: 8px 17px;
            vertical-align: middle;
        }
    }
}
tfoot{
   width: 1170px;
   tr{
        width: 1170px;
        td{
            text-align: center;

            height: 36px;
            line-height: 36px;
            text-align: center;
            border: 1px solid #e1e4e6;
            color: #727171;
            padding: 8px 17px;
            vertical-align: middle;
        }
    }
}
.btn-cnts{
    text-align: center;
    width:110px;
    border: 1px solid #e0d7e3;
    border-radius: 4px;
    display: inline-block;
        span{
            color: #606366;
            font-size: 16px;
            cursor: pointer;
        }
        input{
            width: 45px;
            height: 33px;
            background: transparent;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            text-align: center;
            color: #899096;
            
        }
}
.increasebtn{
    cursor: pointer;
    position: relative;
    color: #666;
    margin-bottom: 5px;
 //   width: 370px;
    input{
        position: relative;
        display: inline-block;
        height: 22px;
        width: 22px;
        padding: 0;
        border: 1px solid #c7c7c7;
        border-radius: 2px;
        margin-right: 5px;
        background-color: #fff;
        cursor: pointer;
        vertical-align: middle;
    }
    .addbuy-txt{
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 330px;
        overflow: hidden;
    }
    
}
.btn-cart-groups{
        width:1100px;
        margin: 0 100px 0 100px;
        overflow: hidden;
        text-align: center;
        height: 70px;
        border-top: none;
        .btn-cart-groups-inner{
                width: 300px;
                margin: 0 auto;
                overflow: hidden;
                margin-top: 15px;
            .pay-continue{
            text-decoration: none;
            margin-right: 10px;
            display: block;
            padding: 10px;
            color: #e8380d;
            background: #fff;
            float: left;
            width: 100px;
            border-radius: 20px;
            border: 1px solid #e8380d;
      }
    }
    
}
.empty-cart{
    height: 98px;
    padding: 80px 0 50px;
    color: #333;
    .empty-cart-msg {
    height: 98px;
    line-height: 20px;
    font-size: 14px;
    padding-left: 341px;
    padding-top: 25px;
    }
}
    