.f-logo{
    display: block;
    width: 105px;
    height: 60px;
    margin: 0 auto;
    img{
     width: 105px;
     height: 60px;
    }
    
}
.text-blank{
     width: 70px;
     height: 40px;
     margin: 0 auto;
     i{
         font-size: 32px;
         color:#CCCCCC
     }
     
}
.nubia-foot-nav{
    text-align: center;
    padding:10px 0;
    line-height: 25px;
    span{
        font-size:10px;
        line-height: 14px;
        color: #999;
        }
    button{
       
        border-radius: 8px;
        font-size:15px;
        color: #999;
    }
    
    a{
        img{
            height: 16px;
            vertical-align: middle;
        }
    }
}
 