.nb-extra-tool{
    ul{
        position: fixed;
        right: 60px;
        bottom: 60px;
         li{
             margin-bottom: 10px;
        span{
           
           font-weight: 500;
           font-size:70px;
           color: #838685;
        }
    }
    }
   
}
